/*div {*/
    #right { float:left}
    #left { float:right}
/*
    text-align: center;
    width: 45%;
*/
/*}*/

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
 }
a {
    font-size: 35px;
}
h1{
   font-size: 50px; 
}
h4{
    font-size: 35px;
}
/*

            article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
*/
/*
article {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}
*/